<!DOCTYPE >
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/03d23d4b59.js" crossorigin="anonymous"></script>
 

  <title>URL SHORTENER</title>
</head> 
<body class = "html bg-dark bg-gradient ">
  <div class="container ">
    
    <h1 class="text-light"> <i class="fa-solid fa-link"></i> URL SHORTNER</h1>
    <form action="/shortUrls" method="POST" class="my-4 form-inline h-50 d-flex align-items-center justify-content-center ">
      <label for="fullUrl" class="sr-only">Url</label>
      <input required placeholder="Enter or Paste Long URL" type="url" name="fullUrl" id="fullUrl" class="form-control w-50 mr-2">
      <button class="btn btn-success  hover-shadow" type="submit" ><i class="fa fa-scissors"></i>    Shrink    </button>
    </form>
    
    <table class="table table-dark table-striped table-responsive " id="myTable">
      <thead>
        <tr>
          <th>Full URL</th>
          <th class="text-nowrap">Short URL</th>
          <th class="text-nowrap">Clicks</th>
          <th class="text-danger text-nowrap">  Actions  <i class="fa-solid fa-ban"></i></th>
          <!-- <td><input type="button" value="Delete" onclick="deleteRow(this)"></td> -->
        </tr>
      </thead>
      <tbody>
        <% shortUrls.forEach(shortUrl => { %>
          <tr>
            <td ><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
            <td class="text-nowrap"> <a href="<%= shortUrl.short %>"><%= shortUrl.short %></a>  </td>
            <td class="text-nowrap"><%= shortUrl.clicks %></td>
            <td class="text-nowrap"><button class="btn btn-danger hover-shadow " type="delete" id="del_btn" onclick="deleteRow(this)"><i class="fa-solid fa-trash"></i> </button></td>
            <!-- <td><input type="button" value="Delete" onclick="deleteRow(this)"><i class="fa-solid fa-trash"></i></td> -->
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <script>
    function deleteRow(r) {
      var i = r.parentNode.parentNode.rowIndex;
      document.getElementById("myTable").deleteRow(i);
    }
    </script>
</body>
</html>
